moonsrv/conf/wsdl/stardas/StardasService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="StardasService"
	targetNamespace="http://www.csi.it/stardas/wso2/StardasService"
	xmlns:cmn="http://www.csi.it/stardas/services/StardasCommonTypes"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.csi.it/stardas/wso2/StardasService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
	    <xsd:schema>
	    	<xsd:import namespace="http://www.csi.it/stardas/wso2/StardasService" schemaLocation="StardasWso2ServiceTypes.xsd"/>
	    	<xsd:import namespace="http://www.csi.it/stardas/services/StardasCommonTypes" schemaLocation="StardasCommonTypes.xsd"/>
	    </xsd:schema>
    </wsdl:types>  
	<wsdl:message name="SmistaDocumentoRequest">
		<wsdl:part name="parameters" element="tns:SmistaDocumentoRequest" />
	</wsdl:message>
	<wsdl:message name="SmistaDocumentoResponse">
		<wsdl:part name="parameters" element="tns:SmistaDocumentoResponse" />
	</wsdl:message>
	<wsdl:message name="GetStatoRichiestaRequest">
		<wsdl:part name="parameters" element="tns:GetStatoRichiestaRequest" />
	</wsdl:message>
	<wsdl:message name="GetStatoRichiestaResponse">
		<wsdl:part name="parameters" element="tns:GetStatoRichiestaResponse" />
	</wsdl:message>
	<wsdl:portType name="StardasService">
		<wsdl:operation name="SmistaDocumento">
			<wsdl:input message="tns:SmistaDocumentoRequest" />
			<wsdl:output message="tns:SmistaDocumentoResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetStatoRichiesta">
			<wsdl:input message="tns:GetStatoRichiestaRequest"></wsdl:input>
			<wsdl:output message="tns:GetStatoRichiestaResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StardasServiceSOAP" type="tns:StardasService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SmistaDocumento">
			<soap:operation
				soapAction="http://www.csi.it/stardas/services/StardasService/SmistaDocumento" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatoRichiesta">
			<soap:operation
				soapAction="http://www.csi.it/stardas/services/StardasService/GetStatoRichiesta" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StardasService">
		<wsdl:port binding="tns:StardasServiceSOAP" name="StardasServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
